<div class="containers">
    <div class="">
        <div class="flex justify-content-between py-2 px-3 my-3">
            <img src="./../../assets/logomain.svg" alt="">
            <div class="display: flex; text-end ">
                <span class="text-white">CREATE ACCOUNT </span>
            </div>
        </div>
        <div style="position: relative;left: 40%; justify-content: center;border-radius: 37px"
            class=" max-w-sm  bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700 d-flex ">
            <form class="space-y-6 " action="#">
                <div class="">
                    <h4 class=" text-gray-900 dark:text-white">Welcome to Every Proposal</h4>
                    <span class="center">Sign in to Continus using explorin</span>
                </div>
                <div class="position-relative ">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white  "
                        style="position: absolute; top: 0; left: 8px; font-size: 10px;">
                        Email</label>
                    <input type="email" name="email" id="email"
                        class="bg-gray-50 border  text-sm rounded-lg block w-full p-2.5  "
                        placeholder="ranjitpawar@122gmail.com" required>
                </div>
                <div class="position-relative d-flex ">
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white "
                        style="position: absolute; top: 0; left: 8px ; font-size: 10px;">
                        Password </label>
                    <input type="password" name="password" id="password" placeholder="123456"
                        class="bg-gray-50 border  text-sm rounded-lg block w-full p-2.5 " required>
                </div>
                <button type="submit"
                    class="rounded-5 w-full bg-red-500  focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Sign In</button>
                <div>
                    <button class="btn d-flex justify-content: center; align-items: center;">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1rem" viewBox="0 0 320 512" fill="#0000FF">
                            <path
                                d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" />
                        </svg>
                        <!-- <img src="../../assets/facebook.svg" alt="" style="height: 85%; margin-right: 24px; color: blue;"> -->
                        <span style="font-size:small ; margin-left: 54px;">Continus with Facebook</span>
                    </button>
                </div>
                <div>
                    <button class="btn  d-flex justify-content: center;  align-items: center;">
                        <img src="../../assets/log.svg" alt="" style="height: 100%; margin-right: 42px;;">
                        <span style="font-size: small;">Continus with google</span>
                    </button>
                </div>
            </form>
        </div>
        <div>
            <svg width="100vw" height="80vh" viewBox="0 0 823 857" fill="none" xmlns="http://www.w3.org/2000/svg">
            </svg>
        </div>
    </div>
</div>